/*CSS for slides*/

*{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.33);
    margin-bottom: 3rem !important;
}

span.subheader {
    font-size: 2rem !important;
    font-style: italic !important;
    text-shadow: 2px 2px 10px black !important;
}

.theme-color{
    /*cluetec color*/
    color: rgb(185, 196, 0) !important;    
}

.reveal section img {
    margin: 15px 0;
    padding: 1rem;
    background: rgba(255,255,255,.12);
    border: 0;
    box-shadow: none;
}

.reveal pre code {    
    padding: 2rem !important;
    line-height: 2rem !important;
    background: rgba(255, 255, 255, 0.8) !important;
}

.Redux-logo {
  animation: Redux-logo-spin infinite 20s linear;
  height: 200px;
  background: transparent !important;
}

@keyframes Redux-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}